*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body {
    width: 100%;
    height: 100vh;
    background:#F5DF99;   
    font-family: 'Roboto', sans-serif;  
}

/*Diseño Header*/

header{
    height: 120px;
    display: flex;
    width: 100%;
    background-color: #F6FBF4 ;
    color: green;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.logotipo{
    display: flex;
    align-items: baseline;
}

.logotipo img{
    margin-right: 10px;
}

/*Diseño Main*/

form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(53, 216, 225, 0.3);
    background-color:#4B8673;
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: white;
}

h2{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}

h2::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    width: 120px;
    left: 0;
    bottom: 0;    
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

textarea{
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
    font-family: 'Roboto', sans-serif; 
}

button{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: blanchedalmond;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: black;
}

/*Diseño footer*/

footer{
    color: white;
    bottom: 0px;
    width: 100%;
    position: fixed;
    background: #4B8673;
    font-family: 'Poppins', sans-serif;
}

.apartados{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.barraImagen{
    background-color:black ;
}

.barraImagen img{
    display: block;
    margin-left: auto;
    opacity: 0.6;
}