/*Diseño universal*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Diseño body*/

body{
    width: 100%;
    background-color: #F5DF99;
}

/*Diseño Header*/

header{
    height: 120px;
    display: flex;
    width: 100%;
    background-color: #F6FBF4 ;
    color: green;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.logotipo{
    display: flex;
    align-items: baseline;
}

.logotipo img{
    margin-right: 10px;
}

/*Diseño main*/

main{
    width: 100%;
    color: green;
}

.textoInformacion p{
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: x-large;
    text-align:justify;
}

/*Diseño Footer*/

footer{
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #4B8673;
    font-family: 'Poppins', sans-serif;
}

.tituloFooter{
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 20px;
    
}

.contenidoFooter{
    padding-left: 20px;
}

.info{
    padding-bottom: 3px;
}

.apartados{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.apartados a{
    text-decoration: none;
    color: white;
}

.barraImagen{
    background-color:black ;
}

.barraImagen img{
    display: block;
    margin-right: auto;
    opacity: 0.6;
}

