/*Dise単o universal*/

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/*Dise単o body*/

body{
    background-color: #F5DF99;
}

/*Dise単o Header*/

header{
    height: 120px;
    display: flex;
    background-color: #F6FBF4 ;
    color: green;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.logotipo{
    display: flex;
    align-items: baseline;
}

.logotipo img{
    margin-right: 10px;
}

/*Dise単o Footer*/

footer{
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #4B8673;
    font-family: 'Poppins', sans-serif;
}

.tituloFooter{
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 20px;
    
}

.contenidoFooter{
    padding-left: 20px;
}

.info{
    padding-bottom: 3px;
}

.apartados{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}



